/* //!STARTERCONF Remove this file after copying your desired color, this is a large file you should remove it. */

.violet {
  --tw-color-primary-50: 234 230 239;
  --tw-color-primary-100: 213 205 223;
  --tw-color-primary-200: 203 193 215;
  --tw-color-primary-300: 182 168 199;
  --tw-color-primary-400: 161 43 183;
  --tw-color-primary-500: 140 118 167;
  --tw-color-primary-600: 120 95 149;
  --tw-color-primary-700: 101 80 124;
  --tw-color-primary-800: 81 64 100;
  --tw-color-primary-900: 60 48 75;
  --tw-color-primary-950: 40 32 50;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #EAE6EF */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #D5CDDF */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #CBC1D7 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #B6A8C7 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #A18FB7 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #8C76A7 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #785F95 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #65507C */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #514064 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #3C304B */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #282032 */
}

.cyan {
  --tw-color-primary-50: 213 236 236;
  --tw-color-primary-100: 185 223 223;
  --tw-color-primary-200: 157 210 210;
  --tw-color-primary-300: 129 197 197;
  --tw-color-primary-400: 101 184 184;
  --tw-color-primary-500: 77 168 168;
  --tw-color-primary-600: 64 140 140;
  --tw-color-primary-700: 51 112 112;
  --tw-color-primary-800: 39 84 84;
  --tw-color-primary-900: 26 58 58;
  --tw-color-primary-950: 19 42 42;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #D5ECEC */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #B9DFDF */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #9DD2D2 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #81C5C5 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #65B8B8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #4DA8A8 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #408C8C */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #374151 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #275454 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #1A3838 */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #132A2A */
}

.beige {
  --tw-color-primary-50: 244 244 225;
  --tw-color-primary-100: 233 233 195;
  --tw-color-primary-200: 222 222 166;
  --tw-color-primary-300: 211 211 136;
  --tw-color-primary-400: 200 200 106;
  --tw-color-primary-500: 189 189 76;
  --tw-color-primary-600: 164 164 61;
  --tw-color-primary-700: 134 134 50;
  --tw-color-primary-800: 104 104 39;
  --tw-color-primary-900: 74 74 28;
  --tw-color-primary-950: 59 59 22;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #F4F4E1 */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #E9E9C3 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #DEDEA6 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #D3D388 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #C8C86A */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #BDBD4C */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #A4A43D */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #868632 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #686827 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #4A4A1C */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #3B3B16 */
}
